@import "node_modules/normalize-scss/sass/normalize";

@import "base/mixins";
@import "base/variables";
@import "base/fonts";

@import "blocks/header";

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: "BebasNeuePro", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--bg-main);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1240px; // Это 1200px + падинги
    padding: 0 20px;
    margin: 0 auto;
}
