@import "section/hero";
@import "section/faq";
@import "section/possibilities";
@import "section/specialization";
@import "section/services";
@import "section/advantages";
@import "section/stories";
@import "section/contacts";

@import "modal/call";
@import "modal/order";
@import "modal/messengers";
@import "modal/tg";
@import "modal/ws";
@import "modal/zoom";

main {
    background: url("../img/bg-1.webp");
    background-size: contain;
    background-repeat: no-repeat;
}