.hero__title {
    font-size: 20px;
    letter-spacing: 0px;
}
.hero__country {
    height: 150px;
    h2 {
        font-size: 40px;
        line-height: 40px;
    }
}
.hero__subtitle {
    font-size: 20px;
}
.hero__button-wrapper button {
    font-size: 20px;
}
.hero__box-text {
    font-size: 20px;
}
.hero__banner-button {
    h3 {
        font-size: 24px;
    }
}
.hero__banner-text span {
    font-size: 100px;
}
.hero__banner-button button {
    font-size: 25px;
}
.faq__box-title {
    font-size: 18px;
}
.possibilities__title {
    font-size: 40px;;
    line-height: 40px;
    span {
        font-size: 40px;
        line-height: 40px;
    }
}
.specialization__title {
    font-size: 40px;
    line-height: 40px;

    span {
        font-size: 40px;
        line-height: 40px;
    }
}
.specialization__item-title {
    font-size: 20px;
    line-height: 20px;
}
.specialization__bottom-description {
    font-size: 20px;
}
.services__title {
    font-size: 40px;
    line-height: 40px;

    span {
        font-size: 40px;
        line-height: 40px;
    }
}
.services__subtitle {
    font-size: 20px;
}
.services__item-title {
    font-size: 20px;
}
.services__item-number {
    p {
        font-size: 90px;
    }
}
.services__item-description {
    font-size: 20px;
}
.services__item:last-child button {
    font-size: 25px;
}
.possibilities__item-title {
    font-size: 16px;
}
.possibilities__button-wrapper button {
    font-size: 20px;
}
.advantages__title {
    font-size: 40px;
    line-height: 40px;

    span {
        font-size: 40px;
        line-height: 40px;
    }
}
.services__title {
    font-size: 40px;
    line-height: 40px;

    span {
        font-size: 40px;
        line-height: 40px;
    }
}
.contacts__title {
    font-size: 40px;
    line-height: 40px;

    span {
        font-size: 40px;
        line-height: 40px;
    }
}
.contacts__item-title {
    font-size: 20px;
}
.contacts__item-num p {
    font-size: 20px;
}
.contacts__item-num a {
    font-size: 20px;
}