.contacts {
    margin: 0 auto;
    padding: 60px 0 60px 0;
    text-align: center;

    &__title {
        font-family: DAMN;
        font-size: clamp(3.438rem, 2.024rem + 7.07vw, 7.5rem);
        font-weight: 400;
        max-width: 600px;
        margin: 0 auto 0 auto;
        line-height: clamp(3.438rem, 2.242rem + 5.98vw, 6.875rem);

        text-align: center;
        text-transform: uppercase;
        color: var(--text-second);

        span {
            font-family: DAMN;
            font-weight: 400;
            font-size: clamp(3.75rem, 2.446rem + 6.52vw, 7.5rem);
            color: #8A6857;
        }
    }

    &__wrapper-1 {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 100px auto 0 auto;
        padding: 80px 0 20px 0;

        border-radius: 30px 30px 0 0;
        gap: 170px;

        background: var(--bg-box);
    }

    &__item {
        position: relative;
        padding: 0 20px 0 20px;
    }

    &__item-img {
        position: absolute;
        width: 120px;
        height: 120px;

        top: -150px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__item-title {
        // margin: 35px 0 0 0;

        font-size: 30px;
        font-weight: 800;
        line-height: 30px;
        text-align: center;
        color: var(--text-main);
    }

    &__item-description {
        margin: 10px 0 0 0;
        display: block;

        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        color: var(--text-main);
    }

    &__item-num {
        margin: 10px 0 0 0;
        display: flex;

        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;

        font-size: 16px;

        p {
            color: var(--text-main);
            font-size: 25px;
            font-weight: 400;
        }

        a {
            padding: 10px;
            border-radius: 10px;

            font-size: 25px;
            font-weight: 400;

            color: #495756;
            background: #F0F2E5;
        }
    }

    &__item-social {
        margin: 10px 0 0 0;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        img {
            width: 50px;
            height: 50px;
            // padding: 7px;
            // border: 1.5px solid #564e4e;
            // border-radius: 10px;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                width: 60px;
                height: 60px;
            }
        }
        img:last-child {
            padding: 0;
            width: 120px;
            height: 65px;
            border: none;
            border-radius: 0;
            &:hover {
                width: 140px;
                height: 100px;
            }
        }
    }

    &__wrapper-2 {
        margin: 0 auto 60px auto;
        display: flex;
        max-width: 300px;
        flex-direction: column;
        border-radius: 0 0 30px 30px;
    
        background: var(--bg-box);

        iframe {
            width: 100%;
            height: 480px;
        }
    }

    &__img {
        position: relative;
        height: 260px;
        img {
            position: absolute;
            width: 100%;
            max-width: 400px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
}

@media(min-width: 1024px) {
    .contacts {
        background: url("../../img//lite/bg-44.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        &__wrapper-1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background: #00000000;
            max-width: unset;
            gap: 30px;
            padding: 80px 0 0 0;
        }
        &__item {
            background: var(--bg-box);
            padding: 90px 30px 30px 30px;
            border-radius: 30px;
        }
        &__item-img {
            top: -60px;
        }
        &__wrapper-1 {
            margin: 20px auto 0 auto;
        }
        &__wrapper-2 {
            margin: 45px 0 0 0;
            border-radius: 30px;
            background: #00000000;
            max-width: unset;

            iframe {
                border-radius: 30px;
            }
        }
        &__img {
            height: 0;

            img {
                max-width: 540px;
                left: 75%;
            }
        }
    }
}