.faq {

    &__title {
        font-family: DAMN;
        font-weight: 400;
        margin: 0 auto 0 auto;

        font-size: clamp(3.438rem, 3.011rem + 2.13vw, 4.375rem);
        line-height: clamp(3.438rem, 3.011rem + 2.13vw, 4.375rem);

        text-align: center;
        text-transform: uppercase;
        color: var(--text-second);
    }

    &__wrapper {
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__box {
        position: relative;
        
        margin: 0 auto;
        padding: 16px 0 0 0;
        max-width: 300px;

        border-top: 1px solid var(--text-main);
        cursor: pointer;
    }

    &__box-img {
        position: absolute;
        top: -10px;
        right: 10px;
        
        &_active {
            img {
                transform: rotate(180deg);
            }
        }
    }

    &__box-title {
        font-size: clamp(1.25rem, 1.12rem + 0.65vw, 1.625rem);
        font-weight: 800;

        text-transform: uppercase;
        color: var(--text-main);
    }

    &__box-description {
        margin: 0 0 0 0;

        max-height: 0;
        overflow: hidden;

        font-size: clamp(1.125rem, 1.038rem + 0.43vw, 1.375rem);
        font-weight: 400;

        color: var(--text-main);
        transition: 0.5s;

        &_active {
            max-height: 400px;
            margin: 12px 0 0 0;
        }
    }
}

@media(min-width: 1024px) {
    .faq {
        &__titel {
            font-size: clamp(6.563rem, 1.108rem + 8.52vw, 7.5rem);
            line-height: clamp(6.563rem, 1.108rem + 8.52vw, 7.5rem);
            span {
                font-size: clamp(6.563rem, 1.108rem + 8.52vw, 7.5rem);
                line-height: clamp(6.563rem, 1.108rem + 8.52vw, 7.5rem);
            }
        }
        &__box {
            padding: 25px 60px;
            margin: 0 0 0 0;
            max-width: 100%;
            border-radius: 30px;
            background: rgba(209, 182, 123, 0.3);
            backdrop-filter: blur(20px);
            border: none;
        }
        &__box-img {
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
        }
    }
}