.hero {
    padding: 90px 0 clamp(2.5rem, 1.196rem + 6.52vw, 6.25rem) 0;
    text-align: center;
    background: url("../../img/lite/bg-1.webp");
    background-size: contain;
    background-repeat: no-repeat;

    &__title {
        font-weight: 400;

        font-size: clamp(1.375rem, 1.201rem + 0.87vw, 1.875rem);
        line-height: clamp(1.375rem, 1.245rem + 0.65vw, 1.75rem);
        letter-spacing: 3px;

        text-align: center;
        text-transform: uppercase;
        text-wrap: balance;
        color: #495756;
    }

    &__country {
        margin: 26px auto 0 auto;
        position: relative;
        h2 {
            font-family: DAMN;
            font-weight: 400;
    
            font-size: clamp(3.438rem, 0.111rem + 16.63vw, 13rem);
            line-height: clamp(3.125rem, 0.082rem + 15.22vw, 11.875rem);
            letter-spacing: clamp(0rem, -0.065rem + 0.33vw, 0.188rem);
        }

        text-align: center;
        text-wrap: balance;
        text-transform: uppercase;
        color: #828282;
    }

    &__subtitle {
        margin: 20px auto 0 auto;
        display: inline;
        
        padding: 0 5px;
        white-space: pre-wrap;

        font-weight: 400;
        letter-spacing: clamp(0rem, -0.065rem + 0.33vw, 0.188rem);
        
        font-size: clamp(1.375rem, 1.158rem + 1.09vw, 2rem);
        line-height: clamp(1.5rem, 1.239rem + 1.3vw, 2.25rem);

        text-align: center;
        text-transform: uppercase;
        color: #495756;
        background-color: #F0F2E5;
    }

    &__wrapper {
        margin: 25px auto 0 auto;
        max-width: clamp(25rem, 14.13rem + 54.35vw, 56.25rem);

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;

        column-gap: 40px;
        row-gap: 15px;
    }

    &__box {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    &__box-img {
        width: 100px;
        height: 100px;
    }

    &__box-text {
        font-size: 28px;
        font-weight: 400;
        line-height: 25px;

        text-align: center;

        color: #404a46;
        color: #000;
    }

    &__button {
        grid-row: 1/2;
        grid-column: 1/3;

    }
    &__button-wrapper {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        button {
            width: 280px;
            height: 100px;
            position: relative;
    
            font-size: clamp(1.375rem, 1.201rem + 0.87vw, 1.875rem);
            font-weight: 800;
            line-height: 20px;
    
            box-shadow: inset 0 10px 20px #ffffef, inset 0 10px 20px #fffbaa, 2px 10px 20px #0006;
            background-color: #ffc988;
            color: #5a5050;

            border: none;
            border-radius: 20px;

            cursor: pointer;
            
            span {
                font-weight: 400;
                font-size: 20px;
            }

            transition: 0.3s;
            // overflow: hidden;
            &:before {            
                content: "";
                position: absolute;
                
                width: 50px;
                height: 50px;
                
                left: 15px;
                top: -15px;
                transform: translate(-50%);
                
                mix-blend-mode: plus-lighter;
                transition: 0.3s;
                
                background-image: url("../../icons/flash1.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                opacity: 0.35;
            }
            &:hover {
                background-color: #ff8f05;
                &:before {
                    transform: translate(50%);
                }
            }
        }
    }

    &__button-arrow {
        &_right {}

        &_left {}
    }

    &__button-social {
        margin: 15px 0 0 0;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        transition: 1s;
        img {
            width: clamp(2.5rem, 2.273rem + 1.14vw, 3.125rem);
            height: clamp(2.5rem, 2.273rem + 1.14vw, 3.125rem);
            // padding: 7px;
            // border: 1.5px solid #564e4e;
            // border-radius: 10px;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                width: clamp(3.125rem, 2.898rem + 1.14vw, 3.75rem);
                height: clamp(3.125rem, 2.898rem + 1.14vw, 3.75rem);
            }
        }
    }

    &__banner {
        margin: 55px auto 0 auto;
        padding: 20px 20px 0 20px;
        max-width: 300px;

        border-radius: 30px;
        background: #dfc69e;
        backdrop-filter: blur(5px);
    }

    &__banner-content {
        p:last-child {
            margin: 20px 0 0 0;
        }
        // text-align: start;
    }

    &__banner-text {
        font-family: DAMN;
        font-size: 60px;
        font-weight: 400;
        // line-height: 66px;
        
        text-transform: uppercase;

        color: var(--text-second);

        span {
            font-family: DAMN;
            font-size: 144px;
            font-weight: 400;
            // line-height: 160px;
            
            background: linear-gradient(180deg, #f9c78b, #fff48c);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    &__banner-description {
        display: block;
        font-size: clamp(1.875rem, 1.745rem + 0.65vw, 2.25rem);
        margin: 0 auto;
        max-width: 300px;
        font-weight: 400;
        line-height: 30px;
        // text-align: left;
        // text-align: start;

        color: var(--text-second);
    }

    &__banner-button {
        h3 {
            font-size: 38px;
            font-weight: 700;
            line-height: 34px;
            text-wrap: balance;
            text-transform: uppercase;

            color: var(--text-second);
        }
        button {
            margin: clamp(1.25rem, 0.924rem + 1.63vw, 2.188rem) 0 0 0;
            position: relative;

            width: 240px;
            height: 80px;

            font-size: 30px;
            font-weight: 800;
            line-height: 20px;

            box-shadow: inset 0 10px 20px #ffffef, inset 0 10px 20px #fffbaa, 2px 10px 20px rgba(0, 0, 0, 0.4);

            background-color: #ffc988;
            color: #5a5050;

            border: none;
            border-radius: 20px;
            cursor: pointer;

            transition: 0.3s;
            // overflow: hidden;

            &:before {
                content: "";
                position: absolute;

                width: 50px;
                height: 50px;

                left: 15px;
                top: -15px;
                transform: translate(-50%);

                mix-blend-mode: plus-lighter;
                transition: 0.3s;

                background-image: url("../../icons/flash1.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                opacity: 0.35;
            }

            &:hover {
                background-color: #ff8f05;

                &:before {
                    transform: translate(50%);
                }
            }
        }
    }

    &__banner-img {
        position: relative;
        height: 350px;
        // overflow: hidden;


        picture {
            position: absolute;
            display: block;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 350px;
        }
    }

}

@media(min-width: 1024px) {
    .hero {
        background: none;
        // background: url("../../img/town-bg.png");
        // background: url("../../img/town-bg.png"), url("../../img/sky.png");
        background-repeat: no-repeat;
        background-size: 100% 115%;
        position: relative;
        z-index: 1;
        &__bg {
            background: url("../../img/sky.webp");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
        }
        &__bg2 {
            background: url("../../img/town-bg.webp");
            background-repeat: no-repeat;
            background-size: 100% 160%;
            // background-position: 50% 50%;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 4;
        }
        .container-title {
            position: relative;
            top: 0;
            z-index: 3 !important;
        }
        .container {
            position: relative;
            top: 0;
            z-index: 4;
        }
        &__country {
            height: clamp(19.625rem, 0.069rem + 30.56vw, 23.75rem);
            h2 {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                // left: 50%;
                // transform: translateX(-50%);
                z-index: 1;
            }
        }
        &__wrapper {
            grid-template-columns: repeat(6, 1fr);
            max-width: unset;
        }
        &__button {
            grid-row: auto;
            grid-column: 3/5;
        }

        &__banner {
            margin: 150px auto 0 auto;
            max-width: unset;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            align-items: center;
            // gap: 50px;

            background-color: #e4cdadce;
            // background-color: #E1CDB0;

            backdrop-filter: blur(20px);
        }
        &__banner-content {
            text-align: start;
            margin: 0 0 0 50px;
        }
        &__banner-description {
            margin: 0 0;
        }

        &__banner-img {
            grid-row: 1;
            height: auto;

            picture {
                position: absolute;
                display: block;
                bottom: -195px;
                height: auto;
                img {
                    width: 500px;
                }
            }
        }
        &__banner-content {
            grid-column: 2;
        }
    }
}