.stories {
    margin: clamp(1.5rem, -0.152rem + 8.26vw, 6.25rem) auto 0 auto;
    &__title {
        margin: 0 auto;
        // max-width: 400px;
    
        font-family: DAMN;
        font-size: clamp(3.438rem, 2.024rem + 7.07vw, 7.5rem);
        font-weight: 400;
        line-height: clamp(3.438rem, 2.242rem + 5.98vw, 6.875rem);
    
        text-align: center;
        text-transform: uppercase;
        text-wrap: balance;
    
        color: var(--text-second);
    
        span {
            font-family: DAMN;
            font-weight: 400;
            font-size: clamp(3.75rem, 2.446rem + 6.52vw, 7.5rem);
            color: #8A6857;
        }
    }
}

.swiper {
    margin: 0 auto 0 auto;
    padding: 50px 0 50px 0;
    width: 280px;
    // mask-image: linear-gradient(to right, #0000, #000, #0000);
}

.swiper-wrapper {
}

.swiper-slide {
    position: relative;
    height: 440px;
    padding: 0 30px;

    &__iphone {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        height: 100%;

        background: #010101;
        border: 5px solid #4e5568;
        overflow: hidden;
        border-radius: 40px;
    }

    &__screen {
        margin: 10px;
        height: 97%;
        background: #000;
        overflow: hidden;
        border-radius: 40px;

        iframe {
            width: 100%;
            height: 100%;
            border: none
        }
    }

    &__notch {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 34px;
        background: #010101;
        border-radius: 0 0 20px 20px;

    }
}

.swiper-button-prev {
    left: 0;
    &:after {
        display: none;
        content: "";
    }

    img {
        display: block;
        position: absolute;
        left: 0;
        z-index: var(--index-topmost);
        width: 100%;
    }
}

.swiper-button-next {
    right: 0;
    &:after {
        display: none;
        content: "";
    }

    img {
        display: block;
        position: absolute;
        right: 0;
        z-index: var(--index-topmost);
        transform: rotate(-180deg);
        width: 100%;
    }
}

.swiper-pagination {
}

@media(min-width: 520px) {
    .swiper {
        width: 400px;
    }
    .swiper-slide {
        padding: 0 50px;
        height: 540px;
    }
    .swiper-button-prev {
        img {
            display: block;
            width: unset;
        }
    }

    .swiper-button-next {
        img {
            display: block;
            width: unset;
        }
    }
}
@media(min-width: 768px) {
    .swiper {
        width: 400px;
    }
}
@media(min-width: 1200px) {
    .swiper {
        width: 1200px;
    }
    .swiper-slide {
        height: 700px;
    }
    
}