.header {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    &__logo {
        width: 100px;
    }

    &__logo-img {
        width: 100%;
    }

    &__phone {
        display: flex;
        gap: 10px;
    }

    &__phone-img {
        width: 40px;
    }

    &__phone-box {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    &__phone-call {
        text-align: end;
        font-size: 16px;
    }

    &__phone-num {
        display: flex;

        flex-direction: row;
        align-items: center;
        gap: 5px;

        font-size: 16px;

        p {
            color: var(--text-second);
        }
        a {
            padding: 5px;
            border-radius: 4px;

            color: #495756;
            background: #F0F2E5;
        }
    }
}