.header {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--index-sidebar);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    &__logo {
        width: clamp(6.25rem, 4.728rem + 7.61vw, 10.625rem);
    }

    &__logo-img {
        width: 100%;
        cursor: pointer;
    }

    &__phone {
        display: flex;
        gap: 10px;
    }

    &__phone-img {
        width: clamp(2.5rem, 2.065rem + 2.17vw, 3.75rem);
        cursor: pointer;
    }

    &__phone-box {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    &__phone-call {
        text-align: end;
        font-size: clamp(1rem, 0.913rem + 0.43vw, 1.25rem);
    }

    &__phone-num {
        display: flex;

        flex-direction: row;
        align-items: center;
        gap: 5px;

        font-size: clamp(1rem, 0.826rem + 0.87vw, 1.5rem);

        p {
            color: var(--text-second);
        }
        a {
            padding: 5px;
            border-radius: 10px;
            
            color: #495756;
            background: #F0F2E5;
        }
    }
}